.hero {
  background-color: #2e2f42;
  padding: 188px 0;
}

.hero-title {
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center; /* Р’РђР–РќРћ */
  max-width: 496px;
  margin: o auto 48px;
  text-align: center;
}

.hero-btn {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  margin: 0 auto;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

.h1-text {
  color: #FFFFFF;
}